# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Окружение
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db